@use "../theme.scss";

header {
  display: flex;

  height: 4rem;
  width: auto;

  align-items: center;

  background-image: linear-gradient(
    to right,
    theme.$shape-color,
    theme.$shape-light-color
  );
  padding: 0 4rem;
}

.logo {
  height: 2rem;
  margin-right: 0.5rem;
}

.logo:hover {
  animation: shake 0.53s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

.title {
  font-size: 1.25rem;
  letter-spacing: -1.25px;
  color: theme.$primary-color;

  padding-bottom: 0.1875rem;

  text-shadow: -0.5px 0.5px 0 theme.$text-color, 0.5px 0.5px 0 theme.$text-color,
    0.5px -0.5px 0 theme.$text-color, -0.5px -0.5px 0 theme.$text-color;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
