@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap");

$primary-color: #ffffff;
$shape-color: #672280;
$shape-light-color: #a626d3;
$text-color: #0d0d0d;
$detail-color: #d5d4d8;

$primary-font: "Karla", sans-serif;
